
    
.body{
    background-image: url(https://img5.goodfon.ru/wallpaper/nbig/2/8f/tekstura-chernyi-fon-seryi-uzor-ornament-vintazh-oboi.jpg);
    font-family: SFProDisplay-Regular;  
    color:whitesmoke;
    margin-left: 1%;
    margin-top: 1%;
  }
  form{
      font-size: 24px; 
  }
  #calculateResult{
      margin-top: 10px;
  }
  #count{
      margin-top: 10px;
  }
