body{
     background-image: url(https://img5.goodfon.ru/wallpaper/nbig/2/8f/tekstura-chernyi-fon-seryi-uzor-ornament-vintazh-oboi.jpg);
    font-family: Arial, Verdana,  sans-serif; 
    font-size: 20px; 
}
#namelogo
{
 color: red;
}
header {
    width: 100%;
      height: 180px;
       background-color: #CCCCFF;
       border-bottom: 5px solid #3B0101;
       border-radius: 25px;
}
h1{

    font-family: Arial, Verdana,  sans-serif;
	color: #dcf1fa;
    font-weight: bold;
}
h2, h3, h4
{
	font-family: Arial, Verdana,  sans-serif;
	color: black;
}
nav 
{
  height: 100 px;
  width:960px;
  border: 7px groove black;
  background-color: #990000;
  margin: auto;
  font-size: 1.3em;
  border-left-radius: 25px;
  border-right-radius: 25px;
border-radius: 25px
}

main
{
     font-family: Arial, Verdana,  sans-serif; 
     max-width: 960px;
	margin: 0 auto;
	background-color: #CCCCFF;
	font-color: red;
	border-radius: 25px;
}
.img-ref{
    width: 20rem;
}
.grey-div
{
	width: 100%;
}

footer {
	width: 100%;
	height: 45px;
	padding: 14px 13px 10px 19px;	
                     background-color: #CCCCFF;
                     border-radius: 5px;
}
.header_table 
{
    background-color: #006600;
    border: 1px solid black;
}
tr 
{
  background-color: #00FF66;
  border-bottom: 1px solid #000;
}

tr td 
{
  border: 1px solid black;
}
.copyrate{
    font-size: 1.4em;
}
#imagelogo
{
 height: 120px;
  width: 150px;
  border-radius: 10px;
}
a:hover
{
 color: #FF6666;
}

a
{
  color:#007ba7;
  text-decoration: none;
}

#imagelogo
{
 height: 120px;
  width: 150px;
  border-radius: 10px;
}
