header 
{
  display: block;
  width: 100%;
  height: 180px;
  padding: 15px 15px 0px 15px;
  margin-left: -8px;
  margin-top: -8px;
  margin-bottom: 20px;
  background-color: #CCCCFF;
  border-bottom: 5px solid #3B0101;
  vertical-align:middle;
  border-radius: 25px;
}
#headest
{
margin: 50px 100px 20px 200px;	
}
#logo {
  float:left;
  display: inline-block;
  height: 120px;
  width: 150px;
  border-radius: 10px;
}
.tablet
{
background-color: #006600;
}
.name
{
    text-align: justify;
	margin-top:  20px;
    font-family: Arial, Verdana,  sans-serif; 
	color: #3B0101;
	font-size: 40pt;
}




nav 
{
  display: block;
  width: 960px;
  height: 30px;
  background-color: black;
  margin: auto;
  text-align: center;
  padding-left: 10;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

main 
 {
	display: block;
	max-width: 960px;
	margin: 0 auto;
	background-color: #CCCCFF;
	font-color: red;
	border-radius: 25px;
 }

table
 {
  margin: 10px 10px 20px 10px;
  border-collapse: collapse;
}

.header_table 
{
    background-color: #006600;
    border: 1px solid black;

}

tr 
{
  background-color: #00FF66;
  border-bottom: 1px solid #000;
}

tr td 
{
  border: 1px solid black;
}
footer 
{
  display: block;
  width: 100%;
  height: 30px;
  padding: 14px 13px 10px 19px;	
  background-color: #CCCCFF;
  border-radius: 5px;
}

body 
{
  background-image: url(https://img5.goodfon.ru/wallpaper/nbig/2/8f/tekstura-chernyi-fon-seryi-uzor-ornament-vintazh-oboi.jpg);
  font-family: serif, "Times new Roman";
  font-size: 20px; 
}
#list 
{
  margin: auto 0;
}

#form 
{
  margin: 10px 10px 20px 10px;
}
a:hover
{
 color: #FF6666;
}
a
{
  color:#007ba7;
  text-decoration: none;
}
.so
{
  color: white;
  text-decoration: none;
}

